<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-alfreDo</string>
	<key>category</key>
	<string>myWorkflows</string>
	<key>connections</key>
	<dict>
		<key>28C94810-BE49-43D5-A1CF-8B1008F6EF69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53FCDE38-AD23-4C03-8FCE-26B2F4B0B273</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42727175-B99E-4935-B6AB-1D288B48A8DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A91AE7F-E377-4B26-B0C4-531362B82FCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B3FBBEA-41DF-4100-9B28-36273BF51512</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Complete this task</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53FCDE38-AD23-4C03-8FCE-26B2F4B0B273</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B3FBBEA-41DF-4100-9B28-36273BF51512</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Complete this task</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58F1C106-FCD5-4B74-AA67-075E179C67EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAFDA2F8-6A4E-42BB-B809-461F6E2D9F6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B3FBBEA-41DF-4100-9B28-36273BF51512</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Complete this task</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B3FBBEA-41DF-4100-9B28-36273BF51512</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B0359C1-72F2-4810-8E9F-56CE66734083</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B0359C1-72F2-4810-8E9F-56CE66734083</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81A7FDDF-890B-49BE-907D-7ACFD33A1332</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81A7FDDF-890B-49BE-907D-7ACFD33A1332</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A30E990-4C96-464E-858F-B386DC26C98C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A985A202-AB01-4C63-B783-4D1198BD5D41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>an Alfred workflow for Todoist</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfreDo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>allTasks</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3A91AE7F-E377-4B26-B0C4-531362B82FCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:allTasksKeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 alfredo-get.py "all" "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get all Todoist tasks</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>allTasks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>42727175-B99E-4935-B6AB-1D288B48A8DE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>dueToday</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>9A30E990-4C96-464E-858F-B386DC26C98C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:overdueKeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 alfredo-get.py "due" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get Todoist tasks</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>overdue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>58F1C106-FCD5-4B74-AA67-075E179C67EB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>overdue</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>AAFDA2F8-6A4E-42BB-B809-461F6E2D9F6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"

python3 alfredo-ops.py ${TaskID}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81A7FDDF-890B-49BE-907D-7ACFD33A1332</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Well done.</string>
				<key>title</key>
				<string>Task completed! 🎯</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A985A202-AB01-4C63-B783-4D1198BD5D41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>TaskID</key>
					<string>{var:split1}</string>
					<key>TotalDue</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6B0359C1-72F2-4810-8E9F-56CE66734083</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>5B3FBBEA-41DF-4100-9B28-36273BF51512</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:dueTodayKeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳... fetching data</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 alfredo-get.py "today" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>due today</string>
				<key>title</key>
				<string>Get Todoist tasks</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>dueToday</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53FCDE38-AD23-4C03-8FCE-26B2F4B0B273</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>28C94810-BE49-43D5-A1CF-8B1008F6EF69</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>28C94810-BE49-43D5-A1CF-8B1008F6EF69</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>3A91AE7F-E377-4B26-B0C4-531362B82FCA</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>42727175-B99E-4935-B6AB-1D288B48A8DE</key>
		<dict>
			<key>note</key>
			<string>all tasks</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>53FCDE38-AD23-4C03-8FCE-26B2F4B0B273</key>
		<dict>
			<key>note</key>
			<string>Due TODAY</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>58F1C106-FCD5-4B74-AA67-075E179C67EB</key>
		<dict>
			<key>note</key>
			<string>overdue</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>5B3FBBEA-41DF-4100-9B28-36273BF51512</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>6B0359C1-72F2-4810-8E9F-56CE66734083</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>81A7FDDF-890B-49BE-907D-7ACFD33A1332</key>
		<dict>
			<key>note</key>
			<string>completing task</string>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>9A30E990-4C96-464E-858F-B386DC26C98C</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>A985A202-AB01-4C63-B783-4D1198BD5D41</key>
		<dict>
			<key>xpos</key>
			<real>1185</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>AAFDA2F8-6A4E-42BB-B809-461F6E2D9F6A</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Due Today Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>dueTodayKeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Overdue Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>overdueKeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!3</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>All Tasks Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>allTasksKeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Login into your account, then copy at https://readwise.io/access_token</string>
			<key>label</key>
			<string>Todoist token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>30</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>in days</string>
			<key>label</key>
			<string>Refresh rate</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>RefreshRate</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
